<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>トップページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% load static %}
<style>
    h3 {
        margin-bottom: 0.6em;
    }

    * {
        text-align: center;
    }

    h1 {
        text-align: initial;
    }

    .link_button {
        display: block;
        font-weight: bold; /*太字に*/
        background: skyblue; /*背景を水色に*/
        color: white; /*文字を白に*/
        padding: 5px 10px; /*内側の余白*/
        border-radius: 20px; /*角を丸くする*/
        font-family: 'Avenir', 'Arial'; /*フォントをいい感じに*/
        margin-bottom: 1em;
    }

    #reset {
        background: gray; /*背景を水色に*/
        color: white; /*文字を白に*/
        padding: 5px 10px; /*内側の余白*/
        border-radius: 20px; /*角を丸くする*/
        font-family: 'Avenir', 'Arial'; /*フォントをいい感じに*/
    }

    input#text1 {
        height: 2em;
        width: 7em;
        font-size: 140%;
    }

    input#text2 {
        height: 2em;
        width: 3em;
        font-size: 140%;
    }


    button#list {
        display: block;
        border: 1px solid black;
        width: 10em;
        height: 2em;
        margin-left: auto;
        margin-top: 1.5em;
        font-size: 1.5em;
        font-weight: bold; /*太字に*/
        background: yellowgreen; /*背景を色に*/
        color: white; /*文字を白に*/
        padding: 5px 10px; /*内側の余白*/
        border-radius: 20px; /*角を丸くする*/
        font-family: 'Avenir', 'Arial'; /*フォントをいい感じに*/

    }

    div {
        margin: 1em 1em 1em 1em;
    }

    #submit {
        position: fixed;
        bottom: 30px;
        right: 60px;
        text-align: center;
        font-size: 1.7em;
        background: darkgreen;
    }

    h1.top {
        position: fixed;
        background-color: white;
        left: 0;
        right: 0;
        top: 0;
        height: 51px;
        padding: 8px 0 5px 0;
        border-bottom: 1px solid black;
        margin: 0;
        box-shadow: 0px 3px 4px #999999;
    }

    a#hov {
        color: #222222;
        text-shadow: 3px 3px 3px darkgrey;
    }

    a#hov:hover {
        color: #222222;
        text-shadow: 1px 1px 1px #999999;
    }

    img#rad {
        border: 1px solid white;
    }

    img#rad:hover {
        color: #222222;
        box-shadow: 1px 2px 2px #999999;
        border: 1px solid #EEEEEE;
        border-radius: 11px;
    }

</style>
<h1 class="top">
    <a href="{% url 'week' %}"
       style="color: black; font-size: 0.6em; text-decoration: none; margin-left: 1em">
        <img src="{% static 'recipe/yakisoba.jpg'%}" style="height: 40px; width: 160px; margin-right: 50px">
    </a>
    <a href="{% url 'index' %}" id="hov"
       style="color: black; font-size: 0.6em; text-decoration: none; margin-left: 1em">
        <img id="rad" src="{% static 'recipe/bar.jpg'%}" style="height: 50px; width: 100px">
    </a>
    <a href="{% url 'recipe_list' %}" id="hov"
       style="color: black; font-size: 0.6em; text-decoration: none; margin-left: 1em">
        <img id="rad" src="{% static 'recipe/scope.jpg'%}" style="height: 50px; width: 100px">
    </a>
    <a href="{% url 'recipe' %}" id="hov"
       style="color: black; font-size: 0.6em; text-decoration: none; margin-left: 1em">
        <img id="rad" src="{% static 'recipe/recipe.jpg'%}" style="height: 50px; width: 100px">
    </a>
    <a href="{% url 'out' %}"
       style="color: black; font-size: 0.6em; text-decoration: none;margin-left: 400px; margin-right: 20px">
        <img src="{% static 'recipe/user.svg'%}" style="height: 30px; width: 60px">
    </a>
</h1>

<div style="margin-top: 100px">
    <a id="reset" href="{% url 'reset' %}">リセット</a>
</div>

<form method="post" action="{% url 'output' %}" , id='post'>

    <button id="list" type="submit" formaction="{% url 'list' %}">リストから追加する</button>

    {% csrf_token %}
    <div>
        ①<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.0 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.0}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.0}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>
        ②<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.1 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.1}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.1}}</option>
            <option value="個">個</option>
            <option value="玉">玉</option>
            <option value="枚">枚</option>
            <option value="合">合</option>
            <option value="尾">尾</option>
            <option value="切">切</option>
            <option value="cc">cc</option>
            <option>g</option>
        </select>
    </div>
    <div>
        ➂<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.2 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.2}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.2}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ④<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.3 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.3}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.3}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑤<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.4 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.4}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.4}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑥<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.5 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.5}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.5}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑦<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.6 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.6}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.6}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑧<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.7 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.7}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.7}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑨<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.8 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.8}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.8}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑩<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.9 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.9}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.9}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    <div>
        ⑪<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.10 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.10}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.10}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑫<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.11 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.11}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.11}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>
        <!--
    </div>
    <div>
        ⑬<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.12 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.12}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.12}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑭<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.13 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.13}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.13}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑮<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.14 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.14}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.14}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑯<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.15 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.15}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.15}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑰<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.16 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.16}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.16}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑱<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.17 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.17}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.17}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

    </div>
    <div>
        ⑲<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.18 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.18}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.18}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>

        ⑳<input id='text1' type="text" name="food" value={{ user.profile.checkedfood.19 }}> x
        <input id='text2' type="text" name="weight" value={{user.profile.checkweight.19}}>
        <select name="ryo" style="width:2.3em; height: 2em; font-size: larger">
            <option>{{user.profile.checkryo.19}}</option>
            <option>個</option>
            <option>玉</option>
            <option>枚</option>
            <option>合</option>
            <option>尾</option>
            <option>切</option>
            <option>cc</option>
            <option>g</option>
        </select>
    </div>

-->
        <input class="link_button" id="submit" type="submit" , value='栄養を表示する'>

</form>
</body>
</html>