<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>食品成分</title>
</head>
<body>
<h2>{{list_contents}}</h2>
<p></p>
<a href="{% url 'index' %}">続ける</a>
<p></p>
<p></p>
<p>　　エネルギー...　{{h0}}　kcal　({{p0}}%)</p>
<p>　　タンパク質...　{{h1}}　g　({{1}}%)</p>
<p>　　　食物繊維...　{{h2}}　g　({{p2}}%)</p>
<p>　　ナトリウム...　{{h3}}　mg　({{p3}}%)</p>
<p>　　　カリウム...　{{h4}}　mg　({{p4}}%)</p>
<p>　　カルシウム...　{{h5}}　mg　({{p5}}%)</p>
<p>　マグネシウム...　{{h6}}　mg　({{p6}}%)</p>
<p>　　　　　リン...　{{h7}}　mg　({{p7}}%)</p>
<p>　　　　　　鉄...　{{h8}}　mg　({{p8}}%)</p>
<p>　ビタミンＢ１...　{{h9}}　mg　({{p9}}%)</p>
<p>　ビタミンＢ２...　{{h10}}　mg　({{p10}}%)</p>
<p>　ビタミンＢ６...　{{h11}}　mg　({{p11}}%)</p>
<p>ビタミンＢ１２...　{{h12}}　ug　({{p12}}%)</p>
<p>　　ナイアシン...　{{h13}}　mg　({{p13}}%)</p>
<p>　　ビタミンＣ...　{{h14}}　mg　({{p14}}%)</p>
<p>　　ビタミンＤ...　{{h15}}　ug　({{p15}}%)</p>
<p>　　　　　葉酸...　{{h16}}　ug　({{p16}}%)</p>
<p>　パントテン酸...　{{h17}}　mg　({{p17}}%)</p>
<p>　　ビタミンＡ...　{{h18}}　ug　({{p18}}%)</p>
<p>　　ビタミンＥ...　{{h19}}　mg　({{p19}}%)</p>
<p>　　食塩相当量...　{{h20}}　g　({{p20}}%)</p>

<a href="{% url 'logout' %}">終わる</a>


</body>
</html>